$width: 30px;

.receiver {
  position: relative;
  width: 1px;
  height: 78px;
  margin: 5px 0 0 0px;

  &:hover {
    top: auto;
  }

  &--grabbed {
    z-index: 1000;
  }

  &--received {
    width: 60px;
    cursor: pointer;

    .receiver__aerial {
      width: calc(100% + #{$width});
    }
    
    .receiver__shadow {
      display: block;
      transition: 1s;
    }
  }

  &__aerial {
    position: absolute;
    width: $width;
    left: -$width/2;
    height: 100%;
    z-index: 1000;
  }

  &__shadow {
    display: none;

    .box__face--bottom {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}